::selection {
  background-color: var(--color-primary);
  -webkit-text-fill-color: var(--color-secondary);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --blue-100: #caf0f8;
  --blue-200: #ade8f4;
  --blue-300: #90e0ef;
  --blue-400: #48cae4;
  --blue-500: #00b4d8;
  --blue-600: #0096c7;
  --blue-700: #0077b6;
  --blue-800: #023e8a;
  --blue-900: #03045e;
}

html[data-theme="dark"] {
  --primary: #392529;
  --primary-light: hsl(348, 21%, 38%);
  --secondary: #216858;
  --secondary-light: hsl(166, 52%, 47%);
  --tertiary: #16ea48;
  --tertiary-light: hsl(134, 83%, 80%);
  --quaternary: #26b6eb;
  --quaternary-light: hsl(196, 83%, 84%);
  --quinary: #f6ea16;
  --quinary-light: hsl(57, 93%, 73%);
}

:root {
  font-size: 62.5%;
}

body {
  font-family: "Comfortaa", cursive;
  line-height: 1.9;
  background-color: var(--blue-100);
}

.container {
  width: 100vw;
  height: 100vh;
}

li {
  list-style: none;
}

a:link,
a:visited {
  text-decoration: none;
  color: var(--primary);
  letter-spacing: 0.2rem;
}

i {
  color: var(--primary);
}

.btn {
  display: inline-block;
  text-align: center;
  margin: 0.5rem;
  font-size: calc(0.6rem + 1vw);
  text-transform: uppercase;
  font-weight: 500;
  line-height: 6rem;
  height: 6rem;
  width: 24rem;
  border-radius: 5rem;
}

.btn.btn-1 {
  background: linear-gradient(to bottom, var(--blue-200), var(--blue-200) 50%, var(--blue-400) 90%);
  color: var(--blue-600);
  transition: all 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.btn.btn-1:hover {
  color: var(--blue-100);
}

.btn.btn-2 {
  background: linear-gradient(to bottom, var(--blue-400), var(--blue-400) 50%, var(--blue-500) 70%, var(--blue-500) 85%);
  color: var(--blue-200);
  transition: all 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.btn.btn-2:hover {
  color: var(--blue-700);
}

.btn.btn-3 {
  background: var(--blue-300);
  font-weight: font-weights(medium);
  border: 0.2rem var(--blue-600) solid;
  color: var(--blue-100);
  box-shadow: 0rem 0.2rem 0.5rem var(--blue-600), 0rem 0.2rem 1rem var(--blue-600);
  transition: all 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  width: 30rem;
}

.btn.btn-3:hover, .btn.btn-3:active {
  border-color: var(--blue-300);
  box-shadow: 0rem 0.2rem 1rem var(--blue-600), 0rem 0.2rem 1.5rem var(--blue-600);
}

.btn.btn-4 {
  background: var(--blue-400);
  font-weight: font-weights(medium);
  border: 0.3rem var(--blue-500) solid;
  color: var(--blue-200);
  box-shadow: 0rem 0.2rem 0.5rem var(--blue-800), 0rem 0.2rem 1rem var(--blue-800);
  transition: all 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.btn.btn-4:hover, .btn.btn-4:active {
  border-color: var(--blue-500);
  box-shadow: 0rem 0.2rem 1rem var(--blue-800), 0rem 0.2rem 1.5rem var(--blue-800);
}

.hide {
  display: none;
}

.blur {
  filter: blur(10px);
  transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  opacity: 0;
}

.unblur {
  filter: blur(0px);
  transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  opacity: 1;
}

.welcome {
  overflow: hidden;
  grid-column: container-start / container-end;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transform: rotateX(0);
  transform-origin: top;
  opacity: 1;
  transform-style: preserve-3d;
  z-index: 10;
}

.welcome.open {
  transform: rotateX(180deg);
  opacity: 0;
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.welcome.open.next {
  display: none;
}

.welcome.closed {
  transform: rotateX(0deg);
  opacity: 1;
}

.welcome__content {
  display: block;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.welcome__content h1 {
  font-size: calc(1.5rem + 1vw);
  text-align: center;
  width: 90%;
}

.welcome__content a {
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .welcome {
    height: 100vh;
  }
}

.aboutme {
  overflow-x: hidden;
  content: "";
  position: relative;
  height: 100%;
  background: var(--blue-100);
  z-index: 1;
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transform: rotateX(-180deg);
  transform-origin: bottom;
  transform-style: preserve-3d;
  opacity: 0;
}

.aboutme .Typewriter__cursor {
  position: absolute;
  top: 0;
  right: 0;
  visibility: hidden;
}

.aboutme.open {
  position: relative;
  transform: rotateX(0);
  opacity: 1;
  height: 100%;
  width: 100%;
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.aboutme.open.next {
  width: 0vw;
  height: 0vh;
  visibility: hidden;
  display: none;
}

.aboutme.closed {
  transform: rotateX(-180deg);
  opacity: 0;
  height: 0vh;
}

.aboutme.closed.next {
  display: none;
}

.aboutme__content {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.aboutme__content.show-info {
  z-index: -1;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 5rem 5rem;
  flex-wrap: wrap;
}

.aboutme__content.show-info .aboutme__content--card {
  flex-basis: calc(35rem + 15vw);
  padding-top: 2rem;
  transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.aboutme__content.show-info .aboutme__content--card #keepGoing {
  top: 90%;
  transform-origin: center;
  z-index: 10;
  opacity: 1;
}

.aboutme__content--card {
  position: relative;
  border: 0.5rem solid var(--blue-300);
  border-radius: 5rem;
  padding-bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-basis: calc(45rem + 15vw);
  height: 60%;
  background: linear-gradient(95deg, var(--blue-300), var(--blue-300) 3%, var(--blue-400) 10%, var(--blue-400) 90%, var(--blue-400) 97%, var(--blue-400));
  box-shadow: 0.5rem 0.5rem 0rem var(--blue-400), 0.1rem 0.5rem 0rem var(--blue-400), 0.3rem 0.5rem 0rem var(--blue-400), inset 0.5rem 0.5rem 2rem var(--blue-100), inset -0.5rem -0.5rem 2rem var(--blue-200), 0.7rem 0.7rem 0rem var(--blue-400), 2rem 2rem 5rem var(--blue-600);
  transform-origin: center;
  transform-style: preserve-3d;
  transform: translateX(-100vw);
  opacity: 0.5;
  transition: all 1.5s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.aboutme__content--card.open {
  transform: translateX(0);
  opacity: 1;
  flex-basis: calc(45rem + 15vw);
  transition: all 1s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.aboutme__content--card.animation {
  animation: float 1s infinite 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.aboutme__content--card.move-left {
  transition: all 1s ease-in-out;
  transform: translateX(-15vw);
  display: block;
  position: relative;
  transform-style: flat;
  opacity: 1;
}

.aboutme__content--card.closed {
  transform: translateX(-100vw);
  opacity: 0.5;
}

.aboutme__content--card #goBack {
  z-index: -10;
  transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  position: absolute;
  top: 40%;
  left: 20%;
  font-size: calc(1.5rem + 5vw);
  background: -webkit-linear-gradient(-60deg, var(--blue-300), var(--blue-300) 25%, var(--blue-400) 35%, var(--blue-400) 65%, var(--blue-300) 70%, var(--blue-300) 75%, var(--blue-400) 85%, var(--blue-400) 97%, var(--blue-400));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.5;
  filter: drop-shadow(0.5rem 0.5rem 0.5rem var(--blue-600));
}

.aboutme__content--card #goBack.open {
  opacity: 1;
  left: -20%;
}

.aboutme__content--card #goBack.closed {
  opacity: 0.5;
  left: 20%;
}

.aboutme__content--card #keepGoing {
  transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  position: absolute;
  top: 40%;
  right: 20%;
  z-index: -10;
  font-size: calc(1.5rem + 5vw);
  color: var(--blue-500);
  background: -webkit-linear-gradient(60deg, var(--blue-300), var(--blue-300) 25%, var(--blue-400) 35%, var(--blue-400) 65%, var(--blue-300) 70%, var(--blue-300) 75%, var(--blue-400) 85%, var(--blue-400) 97%, var(--blue-400));
  opacity: 0.5;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(-0.5rem 0.2rem 0.5rem var(--blue-600));
  cursor: pointer;
}

.aboutme__content--card #keepGoing.open {
  opacity: 1;
  right: -20%;
}

.aboutme__content--card #keepGoing.closed {
  right: 20%;
  opacity: 0.5;
}

.aboutme__content--card .img-container {
  padding: 3rem 5rem;
  width: 100%;
}

.aboutme__content--card .img-container img {
  display: block;
  margin: 0 auto;
  height: inherit;
  width: inherit;
  border-radius: 5rem 5rem 5rem 5rem;
  box-shadow: inset 2rem 4rem 0rem var(--blue-900);
}

.aboutme__content--card .info-container .Typewriter__wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  height: 100%;
  font-size: calc(0.71rem + 1vw);
  padding: 0 5rem;
  color: var(--blue-100);
}

.aboutme__content--card .info-container .Typewriter__wrapper .Typewriter__cursor {
  position: relative;
  top: 0;
  right: 0;
  visibility: hidden;
}

.aboutme__content--card .info-container .Typewriter__wrapper .key {
  display: block;
  height: min-content;
  width: 100%;
}

.aboutme__content--card .info-container .Typewriter__wrapper .key > .value {
  display: inline-block;
  margin-left: auto;
}

.aboutme__content #nextSection {
  cursor: pointer;
  position: absolute;
  bottom: -10rem;
  right: 40rem;
  font-size: 20rem;
  animation: none;
  z-index: -1;
  opacity: 0;
  background: -webkit-linear-gradient(0deg, #57d8f15b 4%, #48cae45b);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(-0.5rem 0.2rem 0.5rem var(--blue-700)) blur(1px);
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.aboutme__content #nextSection::after {
  font-family: "Comfortaa", cursive;
  content: "Skills & Experience";
  display: block;
  font-size: 2rem;
  position: absolute;
  bottom: -10rem;
  right: 40rem;
  z-index: 10;
  opacity: 0;
  background: unset;
  background-clip: unset;
  filter: none;
  -webkit-text-fill-color: var(--blue-100);
  -webkit-background-clip: unset;
  box-shadow: none;
}

.aboutme__content #nextSection.open {
  right: 2%;
  opacity: 1;
}

.aboutme__content #nextSection.open::after {
  right: 2%;
  bottom: 10rem;
  opacity: 1;
}

.aboutme__content--info {
  position: absolute;
  top: 0rem;
  right: 0rem;
  z-index: -1;
  display: block;
  width: 100%;
  height: 0px;
  transform: scale(0) translateX(-50rem);
  transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  opacity: 0;
  transform-style: flat;
  transform-origin: top;
}

.aboutme__content--info h2 {
  font-size: calc(1rem + 1vw);
  margin-top: 3rem;
  color: var(--blue-900);
}

.aboutme__content--info p {
  font-size: calc(0.5rem + 0.5vw);
  color: var(--blue-700);
  text-shadow: 0.1rem 0.1rem 0 white;
}

.aboutme__content--info.show-info {
  position: relative;
  top: 0;
  left: 0rem;
  display: block;
  width: 40%;
  height: 100%;
  transform: translateX(0rem) scale(1);
  z-index: -1;
  opacity: 1;
  overflow-y: visible;
}

@media screen and (min-width: 1300px) {
  .aboutme__content.show-info {
    flex-wrap: nowrap;
  }
  .aboutme__content.show-info .aboutme__content--card {
    width: 50%;
  }
}

@media screen and (max-width: 800px) {
  .aboutme.open {
    padding: 1rem 0;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .aboutme.closed.next {
    display: none;
  }
  .aboutme__content {
    padding: 1rem 0;
    width: 100%;
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
  }
  .aboutme__content .aboutme__content--card.open {
    flex-basis: calc(30rem + 2vw);
    height: 100%;
  }
  .aboutme__content .aboutme__content--card.open.move-left {
    transform: translateY(-20vh);
  }
  .aboutme__content.show-info {
    padding: 3rem;
    flex-wrap: wrap;
  }
  .aboutme__content.show-info .aboutme__content--card {
    height: 100%;
    width: 70%;
  }
  .aboutme__content #nextSection.open {
    bottom: -25rem;
    right: 0rem;
  }
  .aboutme__content #nextSection.next {
    display: none;
  }
  .aboutme__content #goBack.open {
    left: -10%;
  }
  .aboutme__content #keepGoing.open {
    right: -10%;
  }
  .aboutme__content .img-container {
    padding: 2rem 2rem;
    width: 100%;
  }
  .aboutme__content .info-container {
    padding: 2rem 2rem;
  }
  .aboutme__content--info {
    position: relative;
    transform-origin: top;
    top: 0rem;
    transform: translateY(-50rem);
    transition: transform 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    width: 0%;
  }
  .aboutme__content--info.next {
    display: none;
  }
  .aboutme__content--info.show-info {
    transform: translateY(0rem);
    top: 0rem;
    width: 100%;
  }
  .aboutme__content--info h2 {
    font-size: calc(1.5rem + 1vw);
  }
  .aboutme__content--info p {
    font-size: calc(1.2rem + 0.5vw);
  }
}

@keyframes float {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.99);
  }
  100% {
    transform: scale(1);
  }
}

.skills {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: transform 1s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  width: 0;
  height: 0;
}

.skills.open {
  transform: scale(1);
  width: 100vw;
  height: 90vh;
  transform-origin: center;
  transition: all 1s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.skills.next {
  display: none;
}

.skills.closed {
  transform: scale(0);
}

.skills i {
  font-size: calc(1.5rem + 5vw);
  padding: 0 1rem;
  cursor: pointer;
  color: var(--blue-400);
}

.skills i.next {
  display: none;
}

.skills.open {
  transform: scale(1);
  width: 100vw;
  height: 90vh;
  transform-origin: center;
  transition: all 1s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.skills__content {
  position: relative;
  border: 3px solid #16627c;
  padding: 5rem 5rem 5rem 2rem;
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-gap: 1rem;
  place-items: center;
  border-radius: 2.5rem;
  transform-origin: center;
  transition: all 1s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.skills__content.closed {
  transform: scale(0);
}

.skills__content.closed.next {
  display: none;
}

.skills__content h2 {
  grid-column: 3 / 4;
  text-align: center;
  padding-bottom: 1rem;
  font-size: calc(1.5rem + 1vw);
  color: var(--blue-600);
}

.skills__content div {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  font-size: calc(1.2rem + 0.5vw);
  color: var(--blue-600);
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.skills__content p {
  grid-column: 1 / 2;
  font-size: calc(1.2rem + 0.5vw);
  color: var(--blue-600);
}

.skills__content h3 {
  font-size: calc(1.2rem + 0.5vw);
  color: var(--blue-600);
  grid-column: 2 / 3;
}

.skills__content .bar {
  position: relative;
  border: 3px solid var(--blue-500);
  width: 100%;
  height: 2rem;
  border-radius: 5rem;
}

.skills__content .bar > span {
  height: 100%;
  position: relative;
  display: block;
  z-index: -1;
  background-color: var(--blue-300);
  border-radius: 5rem;
  transform-origin: left;
  transform: scaleX(0);
}

.skills__content .bar:nth-of-type(1) > span {
  width: 93%;
}

.skills__content .bar:nth-of-type(2) > span {
  width: 80%;
  animation-delay: 0.5s;
}

.skills__content .bar:nth-of-type(3) > span {
  width: 75%;
  animation-delay: 1s;
}

.skills__content .bar:nth-of-type(4) > span {
  width: 60%;
  animation-delay: 1.5s;
}

.skills__content .bar:nth-of-type(5) > span {
  width: 70%;
  animation-delay: 2s;
}

.skills__content .bar:nth-of-type(6) > span {
  width: 80%;
  animation-delay: 2.5s;
}

.skills__content .bar:nth-of-type(7) > span {
  width: 70%;
  animation-delay: 3s;
}

.skills__content .bar:nth-of-type(8) > span {
  width: 68%;
  animation-delay: 3.5s;
}

.skills__content .bar:nth-of-type(9) > span {
  width: 76%;
  animation-delay: 4s;
}

@media screen and (max-width: 800px) {
  .skills {
    padding: 2rem 1rem;
  }
  .skills__content {
    position: relative;
    padding: 2rem;
    grid-template-columns: 1fr 2fr 3fr;
  }
  .skills__content h3 {
    text-align: center;
  }
  .skills__content div {
    grid-column: 1 / 3;
  }
  .skills i {
    font-size: calc(5rem + 4vw);
  }
  .skills #backToAbout {
    position: absolute;
    bottom: 10rem;
    left: 10rem;
  }
  .skills #toHistory {
    position: absolute;
    bottom: 10rem;
    right: 10rem;
  }
}

@keyframes grow {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.work {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, var(--blue-700), var(--blue-400));
}

.work.next {
  display: none;
}

.work__content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-wrap: wrap;
}

.work__content i {
  position: absolute;
  font-size: 10rem;
  top: 40%;
  background: -webkit-linear-gradient(var(--blue-300), var(--blue-500));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 1rem 1rem var(--blue-700));
  cursor: pointer;
}

.work__content i:nth-of-type(1) {
  left: 5rem;
}

.work__content i:nth-of-type(2) {
  right: 5rem;
}

.work__content--card {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: start;
  grid-gap: 1rem;
  padding: 2rem 2rem 4rem 2rem;
  border-radius: 5rem;
  width: 50rem;
  background: linear-gradient(to bottom, var(--blue-300), var(--blue-400) 80%, var(--blue-600));
  color: var(--blue-100);
  box-shadow: 1rem 1rem 3rem var(--blue-700);
}

.work__content--card a {
  place-self: center;
  grid-column: 1 / 3;
  width: 30rem;
  margin-bottom: 4rem;
}

.work__content--card a img {
  width: 100%;
  box-shadow: 0 1.5rem 2rem var(--blue-700);
  border-radius: 30rem;
}

.work__content--card .key {
  text-align: center;
  font-size: calc(1.2rem + 0.5vw);
  width: 100%;
}

.work__content--card .value {
  text-align: center;
  font-size: calc(1.2rem + 0.5vw);
  width: 100%;
}

@media screen and (max-width: 800px) {
  .work {
    padding: 3rem;
    height: auto;
  }
  .work__content i {
    top: 48%;
    font-size: 7rem;
  }
  .work__content i:nth-of-type(1) {
    left: 5%;
  }
  .work__content i:nth-of-type(2) {
    right: 5%;
    visibility: hidden;
  }
  .work__content--card {
    padding: 1rem 1rem;
  }
  .work__content--card .value,
  .work__content--card .key {
    font-size: calc(1.5rem + 1vw);
  }
  .work__content--card a {
    place-self: center;
    grid-column: 1 / 3;
    width: 25rem;
    margin-bottom: 4rem;
  }
  .work__content--card a img {
    width: 100%;
    box-shadow: 0 1.5rem 2rem var(--blue-700);
    border-radius: 30rem;
  }
  .work__content--card:nth-of-type(1) {
    margin-bottom: 5rem;
  }
}

.aboutme {
  padding: 6vh 4vw;
}

html.transition,
html.transition *,
html.transition *::before,
html.transition *::after {
  transition: all 0.5s !important;
  transition-delay: 0 !important;
}
/*# sourceMappingURL=style.css.map */