.welcome {
  overflow: hidden;
  grid-column: container-start / container-end;
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transform: rotateX(0);
  transform-origin: top;
  opacity: 1;
  transform-style: preserve-3d;
  z-index: 10;

  &.open {
    transform: rotateX(180deg);
    opacity: 0;
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);

    &.next {
      display: none;
    }
  }

  &.closed {
    transform: rotateX(0deg);
    opacity: 1;
    // transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  &__content {
    display: block;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    h1 {
      font-size: font-size(regular);
      text-align: center;
      width: 90%;
    }
    a {
      cursor: pointer;
    }
  }
  @include media-tablet {
    height: 100vh;
  }
}
