.aboutme {
  overflow-x: hidden;
  @extend %sec-padding;
  content: "";
  position: relative;
  height: 100%;
  background: var(--blue-100);
  z-index: 1;
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transform: rotateX(-180deg);
  transform-origin: bottom;
  transform-style: preserve-3d;
  opacity: 0;
  .Typewriter__cursor {
    position: absolute;
    top: 0;
    right: 0;
    visibility: hidden;
  }
  &.open {
    position: relative;
    transform: rotateX(0);
    opacity: 1;
    height: 100%;
    width: 100%;
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);

    &.next {
      width: 0vw;
      height: 0vh;
      visibility: hidden;
      display: none;
    }
  }
  &.closed {
    transform: rotateX(-180deg);
    opacity: 0;
    height: 0vh;
    &.next {
      display: none;
    }
  }

  &__content {
    position: relative;

    // padding: 0 5rem 5rem 5rem;
    display: flex;
    // grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    // grid-template-rows: 10rem repeat(6, 1fr);
    // grid-gap: 5rem;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    // overflow-y: hidden;

    &.show-info {
      z-index: -1;
      //   grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      padding: 5rem 5rem;
      flex-wrap: wrap;
      //   margin-left: 15rem;

      .aboutme__content--card {
        flex-basis: calc(35rem + 15vw);

        padding-top: 2rem;
        transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);

        #keepGoing {
          //   display: block;
          top: 90%;
          transform-origin: center;
          z-index: 10;
          opacity: 1;
        }
      }
    }

    &--card {
      position: relative;
      border: 0.5rem solid var(--blue-300);
      border-radius: 5rem;
      padding-bottom: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex-basis: calc(45rem + 15vw);
      height: 60%;
      //   flex-wrap: wrap;
      // width: 55%;
      // height: 30%;

      background: linear-gradient(
        95deg,
        var(--blue-300),
        var(--blue-300) 3%,
        var(--blue-400) 10%,
        var(--blue-400) 90%,
        var(--blue-400) 97%,
        var(--blue-400)
      );
      box-shadow: 0.5rem 0.5rem 0rem var(--blue-400),
        0.1rem 0.5rem 0rem var(--blue-400), 0.3rem 0.5rem 0rem var(--blue-400),
        inset 0.5rem 0.5rem 2rem var(--blue-100),
        inset -0.5rem -0.5rem 2rem var(--blue-200),
        0.7rem 0.7rem 0rem var(--blue-400), 2rem 2rem 5rem var(--blue-600);

      // ***** Card OFF SCREEN *******//

      transform-origin: center;
      transform-style: preserve-3d;
      transform: translateX(-100vw);
      opacity: 0.5;
      transition: all 1.5s cubic-bezier(0.47, 0, 0.745, 0.715);
      &.open {
        transform: translateX(0);
        opacity: 1;
        flex-basis: calc(45rem + 15vw);
        transition: all 1s cubic-bezier(0.47, 0, 0.745, 0.715);
      }

      &.animation {
        animation: float 1s infinite 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
      }

      &.move-left {
        transition: all 1s ease-in-out;

        transform: translateX(-15vw);
        display: block;
        position: relative;
        transform-style: flat;
        opacity: 1;
        // right: 30rem;
      }
      &.closed {
        transform: translateX(-100vw);
        opacity: 0.5;
      }

      #goBack {
        z-index: -10;
        transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        position: absolute;
        top: 40%;
        left: 20%;
        font-size: font-size(large);
        // animation: float 1s infinite 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);

        background: -webkit-linear-gradient(
          -60deg,
          var(--blue-300),
          var(--blue-300) 25%,
          var(--blue-400) 35%,
          var(--blue-400) 65%,
          var(--blue-300) 70%,
          var(--blue-300) 75%,
          var(--blue-400) 85%,
          var(--blue-400) 97%,
          var(--blue-400)
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        opacity: 0.5;

        // text-shadow: 0.2rem 0.2rem 0.4rem var(--blue-500),
        //   0.2rem 0.2rem 0.9rem var(--blue-600);

        filter: drop-shadow(0.5rem 0.5rem 0.5rem var(--blue-600));

        &.open {
          opacity: 1;
          left: -20%;
        }
        &.closed {
          opacity: 0.5;
          left: 20%;
        }
      }

      #keepGoing {
        transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        position: absolute;
        top: 40%;
        right: 20%;
        z-index: -10;
        font-size: font-size(large);
        color: var(--blue-500);
        // animation: float 1s infinite 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);

        background: -webkit-linear-gradient(
          60deg,
          var(--blue-300),
          var(--blue-300) 25%,
          var(--blue-400) 35%,
          var(--blue-400) 65%,
          var(--blue-300) 70%,
          var(--blue-300) 75%,
          var(--blue-400) 85%,
          var(--blue-400) 97%,
          var(--blue-400)
        );
        opacity: 0.5;

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        filter: drop-shadow(-0.5rem 0.2rem 0.5rem var(--blue-600));

        cursor: pointer;

        &.open {
          opacity: 1;
          right: -20%;
        }
        &.closed {
          right: 20%;
          opacity: 0.5;
        }
      }

      .img-container {
        padding: 3rem 5rem;
        width: 100%;
        // height: 40rem;
        img {
          display: block;
          margin: 0 auto;
          height: inherit;
          width: inherit;
          border-radius: 5rem 5rem 5rem 5rem;
          box-shadow: inset 2rem 4rem 0rem var(--blue-900);
        }
      }

      .info-container .Typewriter__wrapper {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: baseline;
        width: 100%;
        height: 100%;
        // flex-direction: column;
        font-size: calc(0.71rem + 1vw);
        padding: 0 5rem;
        color: var(--blue-100);

        .Typewriter__cursor {
          position: relative;
          top: 0;
          right: 0;
          visibility: hidden;
        }

        .key {
          display: block;
          height: min-content;
          & > .value {
            display: inline-block;
            margin-left: auto;
          }

          width: 100%;
        }
      }
    }
    #nextSection {
      cursor: pointer;
      position: absolute;
      bottom: -10rem;
      right: 40rem;
      font-size: 20rem;
      animation: none;
      z-index: -1;
      opacity: 0;
      background: -webkit-linear-gradient(0deg, #57d8f15b 4%, #48cae45b);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      filter: drop-shadow(-0.5rem 0.2rem 0.5rem var(--blue-700)) blur(1px);

      transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);

      &::after {
        font-family: "Comfortaa", cursive;
        content: "Skills & Experience";
        display: block;
        font-size: 2rem;
        position: absolute;
        bottom: -10rem;
        right: 40rem;
        z-index: 10;
        // color: var(--blue-400);
        opacity: 0;
        background: unset;
        background-clip: unset;
        filter: none;
        -webkit-text-fill-color: var(--blue-100);
        -webkit-background-clip: unset;
        box-shadow: none;
      }
      &.open {
        right: 2%;
        opacity: 1;
        &::after {
          right: 2%;
          bottom: 10rem;
          opacity: 1;
        }
      }
    }
    &--info {
      position: absolute;
      top: 0rem;
      right: 0rem;
      z-index: -1;
      display: block;
      width: 100%;
      height: 0px;
      transform: scale(0) translateX(-50rem);
      transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      opacity: 0;
      transform-style: flat;
      transform-origin: top;
      //   overflow-y: hidden;
      //   display: none;

      h2 {
        font-size: calc(1rem + 1vw);
        margin-top: 3rem;
        color: var(--blue-900);
      }
      p {
        font-size: calc(0.5rem + 0.5vw);
        color: var(--blue-700);
        text-shadow: 0.1rem 0.1rem 0 white;
      }
      &.show-info {
        position: relative;
        top: 0;
        left: 0rem;
        display: block;
        width: 40%;
        height: 100%;
        transform: translateX(0rem) scale(1);
        z-index: -1;
        opacity: 1;
        overflow-y: visible;
      }
    }
  }

  @include media-desktop {
    &__content {
      &.show-info {
        flex-wrap: nowrap;

        .aboutme__content--card {
          width: 50%;
        }
      }
    }
  }

  @include media-tablet {
    &.open {
      padding: 1rem 0;
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    &.closed {
      &.next {
        display: none;
      }
    }

    &__content {
      //   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
      padding: 1rem 0;
      width: 100%;
      display: flex;
      height: auto;
      justify-content: center;
      align-items: center;
      &--card {
        .info-container .Typewriter__wrapper {
          padding: 0 1rem;
        }
      }

      .aboutme__content--card.open {
        flex-basis: calc(30rem + 2vw);
        height: 100%;
        &.move-left {
          transform: translateY(-20vh);
        }
      }

      &.show-info {
        padding: 3rem;
        flex-wrap: wrap;

        .aboutme__content--card {
          height: 100%;
          width: 70%;
          //   padding-bottom: 10rem;
        }
      }
      #nextSection.open {
        bottom: -25rem;
        right: 0rem;
      }
      #nextSection.next {
        display: none;
      }

      #goBack.open {
        left: -10%;
      }

      #keepGoing.open {
        right: -10%;
      }

      .img-container {
        padding: 2rem 2rem;
        width: 100%;
      }

      .info-container {
        padding: 1rem 1rem;
      }

      &--info {
        position: relative;
        transform-origin: top;
        top: 0rem;
        transform: translateY(-50rem);
        transition: transform 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        width: 0%;
        &.next {
          display: none;
        }

        &.show-info {
          transform: translateY(0rem);
          top: 0rem;
          width: 100%;

          //   transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        }
        h2 {
          font-size: font-size(regular);
        }
        p {
          font-size: font-size(small);
        }
      }
    }
  }
}

@keyframes float {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.99);
  }
  100% {
    transform: scale(1);
  }
}
